body {
   /* font-family: 'Inter', sans-serif;
    */
   font-family: 'Inter', sans-serif;
   color: #2c2c2c;
   padding-top: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Inter', sans-serif;
}

.btn:focus {
   outline: none;
   box-shadow: none;
}

.carousel-inner {
   height: 40vh;
}

.carousel-item {
   height: 100%;
}

.carousel-item img {
   height: 100%;
   object-fit: cover;
}

.cart {
   font-size: 1.5rem;
}

.theme-bg {
   background-color: #788312;
}

.theme-btn {
   color: #fff;
}

.btn-whatsapp {
   background-color: #16a349;
   color: #fff;
}

.navbar {
   background-color: white;
   border-bottom: 2px solid #dbe1dd;
}

.navbar-light .navbar-nav .nav-link {
   color: #111;
   text-transform: uppercase;
   font-weight: 500;
   font-family: 'Jost', sans-serif;
}

.nav-link:focus {
   color: #111;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
   color: #788312;
}

.nav-right a {
   color: inherit;
}

.notification {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   color: #fff;
   background-color: #788312;
   font-size: 0.7rem;
   position: absolute;
   right: -12px;
}

.category-wrapper {
   position: relative;
   display: flex;
   align-items: center;
}

.category-scroll {
   overflow-x: auto;
   scroll-behavior: smooth;
   white-space: nowrap;
   width: 100%;
}

.category-scroll::-webkit-scrollbar {
   display: none;
}

.category-menu {
   background: #fff;
   border-bottom: 1px solid #e7e7e7;
}

/* .category-scroll .list-inline {
   gap: 24px;
} */

.nav-arrow {
   background: #fff;
   border: none;
   font-size: 20px;
   cursor: pointer;
   padding: 8px 6px;
   /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
   z-index: 2;
}

.nav-arrow.left {
   margin-right: 10px;
}

.nav-arrow.right {
   margin-left: 10px;
}

.category-menu li {
   font-weight: 500;
   font-size: 0.9rem;
   /* margin: 0 15px; */
   display: flex;
   align-items: center;
}

.category-menu li a {
   text-decoration: none;
   color: inherit;
   transition: all 0.3s ease-in-out;
   display: inline-block;
   padding: 15px 10px;
   font-weight: 600;
   font-size: 0.85rem;
   text-transform: uppercase;
   letter-spacing: 0.5px;
}

.category-menu li a:hover,
.category-menu li.active a {
   color: #788312;
   border-bottom: 3px solid #788312;
}

.filter-menu .form-select {
   font-size: 0.85rem;
   font-weight: 500;
   color: #555;
   cursor: pointer;
   background-color: transparent;
   border: none;
}

.product-card {
   width: 100%;
   background: #fff;
   text-align: center;
   position: relative;
   transition: all 0.3s ease-in-out;
   border-radius: 0.75rem;
   overflow: hidden;
   border: 1px solid #e2e8f0;
}

.product-card:hover {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-wrapper {
   position: relative;
   overflow: hidden;
   height: 45vh;
}

.product-img {
   width: 100%;
   display: block;
   transition: all 0.3s ease;
   object-fit: cover;
   height: 100%;
}

.product-card a {
   text-decoration: none;
   color: inherit;
}

.product-card .product-info {
   text-align: start;
}

.tag-bottom {
   position: absolute;
   z-index: 500;
   bottom: 0;
   right: 0;
}
/* .hover-img {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.product-card:hover .hover-img {
   opacity: 1;
}

.product-card:hover .default-img {
   opacity: 0;
} */

.product-card:hover .default-img {
   transform: scale(1.2);
}

.icon-group {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   gap: 10px;
   opacity: 0;
   transition: 0.3s ease;
}

.icon-group button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background: white;
   cursor: pointer;
   font-size: 18px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
   transition: 0.3s ease;
}

.icon-group button:hover {
   background-color: #788312;
}

.icon-group button:hover i {
   color: #fff;
}

.product-card:hover .icon-group {
   opacity: 1;
   right: 25px;
}

.cart-btn {
   width: 100%;
   padding: 15px;
   border: none;
   background: #f5f5f5;
   font-weight: bold;
   letter-spacing: 1px;
   cursor: pointer;
   transition: 0.3s ease;
   /* position: absolute;
   left: 0;
   right: 0;
   bottom: 0; */
   font-size: 0.8rem;
   opacity: 0;
}

.tag-card {
   border-radius: 5px;
   padding: 0.2rem 0.8rem;
   background-color: #fff;
   position: absolute;
   top: 3%;
   z-index: 50;
   left: 3%;
   font-size: 0.8rem;
   font-weight: 600;
}

.tag-card.new {
   color: #fff;
   background-color: #ff7451;
}

.popular-tag {
   display: inline-block;
   padding: 0.5rem;
   background: #fff0f5;
   border-radius: 12px;
   font-size: 0.7rem;
   font-weight: 600;
   text-transform: uppercase;
   padding: 2px 12px;
}

.popular-tag.instagram {
   color: #e1306c;
}

.popular-tag.swann {
   color: #788312;
}

.tag-card.trending {
   color: #fff;
   background-color: #48cab2;
}

.product-card:hover .cart-btn {
   background: #788312;
   color: #fff;
   opacity: 1;
   transition: 0.5s ease;
}

.product-info .category {
   font-size: 0.8rem;
   color: #7e7e7e;
}

.category-menu .icon-holder {
   width: 40px;
   height: 40px;
   display: inline-block;
   border-radius: 50%;
   background-color: #f5f5f5;
   margin-right: 10px;
   padding: 5px;
   position: relative;
   overflow: hidden;
}

.category-menu .icon-holder img {
   border-radius: 50%;
}

.text-ellipsis {
   margin-bottom: 0.5rem;
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: 600;
   text-transform: uppercase;
}

.old-price {
   text-decoration: line-through;
   color: #888;
   margin-right: 20px;
}

.new-price {
   font-size: 1.2rem;
   font-weight: bold;
   color: #788312;
}

.add-to-cart-btn {
   font-size: 0.875rem;
   line-height: 1.25rem;
   background: #788312;
   color: white;
   font-weight: 500;
   letter-spacing: 1px;
   width: 100%;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border-radius: 0.5rem;
   border-bottom: 4px solid #d7d7d7;
   transition: all 0.3s ease-in;
}

.add-to-cart-btn:hover {
   transform: translateY(2px);
   border-bottom: transparent;
   border-top: 4px solid #d7d7d7;
   color: #fff;
}

.navbar-light .navbar-toggler-icon {
   background-image: none;
}

.navbar-light .navbar-toggler {
   border-color: transparent;
}

.head-section .lead {
   font-size: 1rem;
   color: #666;
   line-height: 1.8;
   max-width: 800px;
   margin: 0 auto;
}

.head-section h1 {
   font-size: 2.5rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #111;
   margin-bottom: 20px;
}

.footer {
   background-color: #fff;
}

.footer-menu li a,
.footer-menu h5 {
   color: #0c0e02;
   text-transform: uppercase;
}

.footer-menu li a {
   text-decoration: none;
   font-size: 0.8rem;
   transition: all 0.3s ease;
}

.footer-menu li a:hover {
   color: #788312;
}

.footer-menu h5 {
   font-size: 1rem;
}

.footer-about p {
   font-size: 0.8rem;
}

.footer-menu li i {
   color: #0c0e02;
   padding-right: 0.5rem;
}

.social-list i {
   color: #0c0e02;
   transition: all 0.3s ease;
}

.navbar-toggler:focus {
   outline: none;
   box-shadow: none;
   outline: none;
}

.footer .social-list span {
   margin-right: 0.8rem;
   transition: all 0.3s ease;
}

.footer .social-list span:hover i {
   color: #788312;
}

.footer-about p {
   color: #0c0e02;
}

.footerlogo {
   width: 30%;
}

.footer-bottom-line {
   border-bottom: 1px solid #b1b1b1;
}

.main-head {
   font-size: 2.25rem;
   line-height: 2.5rem;
   letter-spacing: 0.025em;
   font-weight: 400;
}

.pro-desc-tab .nav-link {
   color: #555;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 0.9rem;
}

.pro-desc-tab .nav-link.active {
   color: #111;
}

@media (min-width: 992px) {
   .navbar-brand {
      width: 10%;
   }
   .navbar-expand-lg .navbar-nav {
      gap: 1.8rem;
   }
   .head-section {
      padding: 60px 0 40px;
      text-align: center;
   }
}

@media (max-width: 576px) {
   body {
      padding-top: 86px;
   }
   .navbar-brand {
      width: 25%;
   }
   .product-card {
      margin-bottom: 30px;
   }
   .popular-tag {
      font-size: 0.7rem;
   }
   .new-price {
      font-size: 1rem;
   }
   .pricing {
      flex-direction: column;
   }
}
