body {
   font-family: 'Inter', sans-serif;
   color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Jost', sans-serif;
}

.navbar {
   background-color: #e5d2d8;
}

.cart {
   font-size: 1.5rem;
}

.nav-link {
   color: #111;
   text-transform: uppercase;
   font-weight: 500;
   font-family: 'Jost', sans-serif;
}

.nav-link:focus {
   color: #111;
}

.nav-link.active,
.nav-link:hover {
   color: #788312;
}

.product-card {
   width: 100%;
   background: #fff;
   text-align: center;
   position: relative;
   transition: all 0.3s ease-in-out;
}

.image-wrapper {
   position: relative;
   overflow: hidden;
}

.product-img {
   width: 100%;
   display: block;
   transition: opacity 0.5s ease;
   min-height: 460px;
   object-fit: cover;
}

.hover-img {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.product-card:hover .hover-img {
   opacity: 1;
}

.product-card:hover .default-img {
   opacity: 0;
}

.icon-group {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   gap: 10px;
   opacity: 0;
   transition: 0.3s ease;
}

.icon-group button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background: white;
   cursor: pointer;
   font-size: 18px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
   transition: 0.3s ease;
}

.icon-group button:hover {
   background-color: #788312;
}

.icon-group button:hover i {
   color: #fff;
}

.product-card:hover .icon-group {
   opacity: 1;
   right: 25px;
}

.cart-btn {
   width: 100%;
   padding: 15px;
   border: none;
   background: #f5f5f5;
   font-weight: bold;
   letter-spacing: 1px;
   cursor: pointer;
   opacity: 0;
   transition: 0.3s ease;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 0.8rem;
}

.product-card:hover .cart-btn {
   background: #788312;
   color: #fff;
   opacity: 1;
   transition: 0.5s ease;
}

.product-info .category {
   font-size: 0.8rem;
   color: #7e7e7e;
}

.text-ellipsis {
   width: 250px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.old-price {
   text-decoration: line-through;
   color: #888;
   margin-right: 20px;
}

.new-price {
   font-size: 1.2rem;
   font-weight: bold;
}

.footer {
   background-color: #0d0e00;
}

.footer-menu li a,
.footer-menu h5 {
   color: #fff;
}

.footer-menu li a {
   text-decoration: none;
}

.footer-menu li i {
   color: #fff;
   padding-right: 0.5rem;
}

.social-list i {
   color: #fff;
}

.navbar-toggler:focus {
   outline: none;
   box-shadow: none;
   outline: none;
}

@media (min-width: 992px) {
   .navbar-brand {
      width: 10%;
   }
   .navbar-expand-lg .navbar-nav {
      gap: 1.8rem;
   }
}

@media (max-width: 576px) {
   .navbar-brand {
      width: 25%;
   }
}
