body {
   /* font-family: 'Inter', sans-serif;
    */
   font-family: 'Inter', sans-serif;
   color: #2c2c2c;
   padding-top: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Inter', sans-serif;
}

.navbar {
   background-color: #e5d2d8;
}

.carousel-inner {
   height: 40vh;
}

.carousel-item {
   height: 100%;
}

.carousel-item img {
   height: 100%;
   object-fit: cover;
}

.cart {
   font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
   color: #111;
   text-transform: uppercase;
   font-weight: 500;
   font-family: 'Jost', sans-serif;
}

.nav-link:focus {
   color: #111;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
   color: #788312;
}

.nav-right a {
   color: inherit;
}
.notification {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   color: #fff;
   background-color: #788312;
   font-size: 0.7rem;
   position: absolute;
   right: -12px;
}

.category-menu {
   background: #f5f5f5;
   border-bottom: 1px solid #e7e7e7;
}

.category-menu li {
   font-weight: 500;
   font-size: 0.9rem;
}

.category-menu li a {
   text-decoration: none;
   color: inherit;
   transition: all 0.3s ease-in-out;
}

.category-menu li a:hover {
   color: #788312;
}

.product-card {
   width: 100%;
   background: #fff;
   text-align: center;
   position: relative;
   transition: all 0.3s ease-in-out;
}

.product-card:hover {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-wrapper {
   position: relative;
   overflow: hidden;
   height: 45vh;
}

.product-img {
   width: 100%;
   display: block;
   transition: all 0.3s ease;
   object-fit: cover;
   height: 100%;
}

.product-card a {
   text-decoration: none;
   color: inherit;
}

.product-card .product-info {
   text-align: start;
}
/* .hover-img {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.product-card:hover .hover-img {
   opacity: 1;
}

.product-card:hover .default-img {
   opacity: 0;
} */

.product-card:hover .default-img {
   transform: scale(1.2);
}

.icon-group {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   gap: 10px;
   opacity: 0;
   transition: 0.3s ease;
}

.icon-group button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background: white;
   cursor: pointer;
   font-size: 18px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
   transition: 0.3s ease;
}

.icon-group button:hover {
   background-color: #788312;
}

.icon-group button:hover i {
   color: #fff;
}

.product-card:hover .icon-group {
   opacity: 1;
   right: 25px;
}

.cart-btn {
   width: 100%;
   padding: 15px;
   border: none;
   background: #f5f5f5;
   font-weight: bold;
   letter-spacing: 1px;
   cursor: pointer;
   transition: 0.3s ease;
   /* position: absolute;
   left: 0;
   right: 0;
   bottom: 0; */
   font-size: 0.8rem;
   opacity: 0;
}

.tag-card {
   border-radius: 10px;
   padding: 0.2rem 0.8rem;
   background-color: #fff;
   position: absolute;
   top: 6%;
   z-index: 50;
   left: 6%;
   font-size: 0.8rem;
   font-weight: 600;
}

.tag-card.new {
   color: #fff;
   background-color: #99bbad;
}

.popular-tag {
   display: inline-block;
   padding: 0.5rem;
   background-color: #f5f5f5;
   border-radius: 10px;
   font-size: 0.8rem;
   font-weight: 500;
}

.popular-tag.instagram {
   color: #ff08d7;
}

.popular-tag.swann {
   color: #788312;
}

.tag-card.trending {
   color: #fff;
   background-color: #088178;
}

.product-card:hover .cart-btn {
   background: #788312;
   color: #fff;
   opacity: 1;
   transition: 0.5s ease;
}

.product-info .category {
   font-size: 0.8rem;
   color: #7e7e7e;
}

.text-ellipsis {
   /* width: 250px; */
   /* white-space: nowrap;
   overflow: hidden; */
   /* text-overflow: ellipsis; */
   margin-bottom: 0.5rem;
   font-size: 0.8rem;
}

.old-price {
   text-decoration: line-through;
   color: #888;
   margin-right: 20px;
}

.new-price {
   font-size: 1.2rem;
   font-weight: bold;
}

.navbar-light .navbar-toggler-icon {
   background-image: none;
}

.navbar-light .navbar-toggler {
   border-color: transparent;
}

.footer {
   background-color: #0d0e00;
}

.footer-menu li a,
.footer-menu h5 {
   color: #fff;
}

.footer-menu li a {
   text-decoration: none;
   font-size: 0.8rem;
   transition: all 0.3s ease;
}

.footer-menu li a:hover {
   color: #788312;
}

.footer-menu h5 {
   font-size: 1rem;
}

.footer-about p {
   font-size: 0.8rem;
}

.footer-menu li i {
   color: #fff;
   padding-right: 0.5rem;
}

.social-list i {
   color: #fff;
   transition: all 0.3s ease;
}

.navbar-toggler:focus {
   outline: none;
   box-shadow: none;
   outline: none;
}

.footer .social-list span {
   margin-right: 0.8rem;
   transition: all 0.3s ease;
}

.footer .social-list span:hover i {
   color: #788312;
}

@media (min-width: 992px) {
   .navbar-brand {
      width: 10%;
   }
   .navbar-expand-lg .navbar-nav {
      gap: 1.8rem;
   }
   .category-menu li {
      padding: 0 0.6rem;
   }
}

@media (max-width: 576px) {
   body {
      padding-top: 86px;
   }
   .navbar-brand {
      width: 25%;
   }
   .product-card {
      margin-bottom: 30px;
   }
   .popular-tag {
      font-size: 0.7rem;
   }
   .new-price {
      font-size: 1rem;
   }
   .pricing {
      flex-direction: column;
   }
}
